# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Ambiente virtual
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log

# Banco de dados local
*.db

# Arquivos temporários
tmp/
temp/
# Dados do ARGOS
backend/connectors/*.csv
backend/portfolio/*.csv
*.xlsx
*.xls
*.pdf